.slideSection{
	
}

 .main-carousel{
	margin-bottom : 30px;
}

.cell{
	/*width: 33%;*/
	height: 350px;
	margin: 15px;
	overflow: hidden;
	border-radius: 8px;
}

.cell img{
	cursor: pointer;
	width: 250px;
	height: 350px;
	object-ift: cover;
}