hr{
	margin-bottom : 20px;
	width : 10%;
	margin-left : 45%;
}

.getOutTitle{
	text-align: center;
}

.getOutTitle h1{
	margin-bottom : 20px;
}

.map-frame{
	text-align: center;
}

.map-frame h1{
	margin-Top : 20px;
	margin-bottom : 20px;	
}

.goOutBookMap{
	margin-left : 29%;
	margin-bottom : 20px;
}

.map-detail{
	margin-Top : 20px;
	margin-bottom : 20px;	
	margin-left : 29%;
	font-size : 15px;
}

th, td{
	padding : 10px;
}