/*body {
	margin-top: 100px;
	font-family: 'Trebuchet MS', serif;
	line-height: 1.6
}*/
.container {
	width: 90%;
	margin: 0 auto;
}

ul.tabs {
	margin-top: 30px;
	padding: 0px;
	list-style: none;
	background-color: #341d08;
	text-align: left;
}

/*글자*/
ul.tabs li {
	background: none;
	color: #ededed;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current {
	background: #ededed;
	color: #222;
}

.tab-content {
	display: none;
	background: #ededed;
	padding: 15px;
}

.tab-content.current {
	display: inherit;
}

#tab-1 {
	
}

#tab-1 img {
	width : 170px;
	height: 250px;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
}

#tab-2 img {
	width : 170px;
	height: 250px;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
}

.ourUsedBook{
	display: flex;
}

.ourUsedBook_1 p {
	margin-left: 10px;
	text-align : center;
}